.header {
    background-color: black;
    height: 40px;
    font-size: 20px;
    
}

.header-tittle {
    color: white;
   
}

.header-result {
    background-color: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
    
}